@import url(https://unpkg.com/tippy.js@5/dist/backdrop.css);

.tippy-backdrop,
.tippy-tooltip {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.preloader {
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    z-index: 10;
    position: fixed;
}

#preloader.hide-preloader {
    animation: hidePreloader 0.5s linear;
    animation-delay: 1.5s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.spinner {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner .blob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.spinner .blob.top {
    top: 0;
    -webkit-animation: blob-top 1s infinite ease-in;
    animation: blob-top 1s infinite ease-in;
}

.spinner .blob.bottom {
    top: 100%;
    -webkit-animation: blob-bottom 1s infinite ease-in;
    animation: blob-bottom 1s infinite ease-in;
}

.spinner .blob.left {
    left: 0;
    -webkit-animation: blob-left 1s infinite ease-in;
    animation: blob-left 1s infinite ease-in;
}

.spinner .move-blob {
    background: #fff;
    top: 0;
    -webkit-animation: blob-spinner-mover 1s infinite ease-in;
    animation: blob-spinner-mover 1s infinite ease-in;
}

@-webkit-keyframes blob-bottom {
    25%,
    50%,
    75% {
        top: 50%;
        left: 100%;
    }
    100% {
        top: 0;
        left: 50%;
    }
}

@keyframes blob-bottom {
    25%,
    50%,
    75% {
        top: 50%;
        left: 100%;
    }
    100% {
        top: 0;
        left: 50%;
    }
}

@-webkit-keyframes blob-left {
    25% {
        top: 50%;
        left: 0;
    }
    50%,
    100% {
        top: 100%;
        left: 50%;
    }
}

@keyframes blob-left {
    25% {
        top: 50%;
        left: 0;
    }
    50%,
    100% {
        top: 100%;
        left: 50%;
    }
}

@-webkit-keyframes blob-top {
    50% {
        top: 0;
        left: 50%;
    }
    75%,
    100% {
        top: 50%;
        left: 0;
    }
}

@keyframes blob-top {
    50% {
        top: 0;
        left: 50%;
    }
    75%,
    100% {
        top: 50%;
        left: 0;
    }
}

@-webkit-keyframes blob-spinner-mover {
    0%,
    100% {
        top: 0;
        left: 50%;
    }
    25% {
        top: 50%;
        left: 100%;
    }
    50% {
        top: 100%;
        left: 50%;
    }
    75% {
        top: 50%;
        left: 0;
    }
}

@keyframes blob-spinner-mover {
    0%,
    100% {
        top: 0;
        left: 50%;
    }
    25% {
        top: 50%;
        left: 100%;
    }
    50% {
        top: 100%;
        left: 50%;
    }
    75% {
        top: 50%;
        left: 0;
    }
}

*::selection {
    color: white;
    background-color: black;
}

::-webkit-scrollbar {
    height: calc(var(--index) * 0);
    width: calc(var(--index) * .8);
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: calc(var(--index) * .4);
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background-color: black;
    border-bottom-right-radius: calc(var(--index) * .4);
    border-bottom-left-radius: calc(var(--index) * .4);
}

::-webkit-scrollbar-button:vertical:end:increment {
    background-color: black;
    border-top-right-radius: calc(var(--index) * .4);
    border-top-left-radius: calc(var(--index) * .4);
}

a {
    text-decoration: none;
}

:root {
    --index: (1vh + 1vw);
    --background-color: #f9fcff;
    --box-shadow: #434343;
    --main-height: 13;
}

@font-face {
    font-family: lato_b;
    src: url(../../../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: comfortaa_b;
    src: url(../../../fonts/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: exo2_b;
    src: url(../../../fonts/Exo2-VariableFont_wght.ttf);
}

@font-face {
    font-family: rubik_b;
    src: url(../../../fonts/Rubik-VariableFont_wght.ttf);
}

body,
html {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}


/* Шапка*/
#header {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;

    border-bottom: calc(var(--index) / 4) solid #282b34;
    width: 100%;
    height: calc(var(--index) * 4);
    z-index: 2;
    background-color: var(--background-color);

    

}

.search {
    display: flex;
    position: absolute;
    right: 70vw;
    justify-content: center;
    align-items: center;
    width: calc(var(--index) * 17);
    height: calc(var(--index) * 2.6);
    margin-top: calc(var(--index) * 0.3);

}

.search img {
    height: calc(var(--index) * 1.5);
    width: calc(var(--index) * 1.5);
    position: relative;
    right: 0.7vw;
    margin-top: calc(var(--index) * 0.3);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

input[type="search"] {
    position: relative;
    border: 0;
    border-bottom: calc(var(--index) * 0.15) solid #282b34;
    outline: 0;
    background-color: var(--background-color);
    font-size: calc(var(--index) * 1);
    margin-top: calc(var(--index) * 0.3);
    font-family: comfortaa_b;
}

input[placeholder="Поиск"] {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

h1 {
    font-family: lato_b;
    color: #282b34;
    font-size: calc(var(--index) * 2.6);
    letter-spacing: calc(var(--index) / 10);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.asd{
    top: 200px
}
h1:hover {
    cursor: pointer;
}

.logo {
    position: absolute;
    height: calc(var(--index) * 1.4);
    width: calc(var(--index) * 1.4);
    margin-top: calc(var(--index) * -.8);
    margin-left: calc(var(--index) * 11.4);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.logo:hover {
    cursor: pointer;
}

nav.product_search {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 60vw;
    position: absolute;
}

nav.product_search>a {
    position: relative;
    margin-left: calc(var(--index) * 1);
    width: calc(var(--index) * 2.5);
    height: calc(var(--index) * 1.5);
    background-color: #191919;
    color: white;
    border-radius: calc(var(--index) * .4);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: exo2_b;
    font-size: calc(var(--index) * .6);
}

nav.navigation-header {
    position: absolute;
    display: flex;
    left: 78vw;
    width: calc(var(--index) * 10.7);
}

#menu {
    width: calc(var(--index) * 10.7);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#menu>li {
    border: calc(var(--index) * .28) solid var(--background-color);
    height: calc(var(--index) * 3);
    width: calc(var(--index) * 3);
    border-radius: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#menu>li>div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#menu>li>a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

nav.navigation-header>#menu>li>div>img, nav.navigation-header>#menu>li>a>img {
    height: calc(var(--index) * 1.7);
    width: calc(var(--index) * 1.7);
    cursor: pointer;
}




/* Авторизация */
.authorization-closed {
    animation: 0.2s linear forwards closed;
}

.authorization-open {
    display: flex;
    animation: 0.2s linear forwards open;
}

.authorization {
    height: calc(var(--index) * 20);
    width: calc(var(--index) * 25);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    border: calc(var(--index) * .2) solid #282b34;
    -webkit-box-shadow: 0px 0px calc(var(--index) * .4) calc(var(--index) * .1) #8d8d8d;
    -moz-box-shadow: 0px 0px calc(var(--index) * .4) calc(var(--index) * .1) #8d8d8d;
    box-shadow: 0px 0px calc(var(--index) * .4) calc(var(--index) * .1) #8d8d8d;
    justify-content: center;
    z-index: 4;
    border-radius: 10%;
    color: #282b34;
}

.background-navigation {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #272727;
    z-index: 3;
    opacity: 0.6;
}

.background-navigation.display-none {
    display: none;
    animation: 0.5s linear forwards open-closed;
}

.background-navigation.display-flex {
    display: flex;
    animation: 0.5s linear forwards open-closed;
}

.authorization>.closing-authorization {
    position: absolute;
    right: calc(var(--index) * 1);
    top: calc(var(--index) * 1);
    height: calc(var(--index) * 1.4);
    width: calc(var(--index) * 1.4);
    z-index: 5;
    justify-content: center;
    align-items: center;
    display: flex;
}

.authorization>.closing-authorization:hover {
    cursor: pointer;
}

.authorization>.closing-authorization>img {
    height: calc(var(--index) * 1.4);
    width: calc(var(--index) * 1.4);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.authorization>form {
    justify-content: center;
    align-items: center;
    position: relative;
}

.authorization>form>h3 {
    font-size: calc(var(--index) * 2.4);
    margin-top: calc(var(--index) * 1);
    text-align: center;
    font-weight: 600;
    font-family: rubik_b;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.authorization>form>.inputs>.login {
    justify-content: center;
    display: flex;
    margin-top: calc(var(--index) * 1);
    flex-direction: column;
    padding-left: calc(var(--index) * 4);
    padding-right: calc(var(--index) * 4);
}

.authorization>form>.inputs>.login>label {
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
}

.authorization>form>.inputs>.login>input {
    height: calc(var(--index) * 2);
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
    padding-left: calc(var(--index) * .4);
    padding-right: calc(var(--index) * .4);
    border: calc(var(--index) * .1) solid #272727;
    border-radius: calc(var(--index) * .4);
}

.authorization>form>.inputs>.login>input:focus {
    outline: none;
    border: calc(var(--index) * .15) solid #000000;
    border-radius: calc(var(--index) * .4);
}


.authorization>form>.inputs>.password {
    justify-content: center;
    display: flex;
    margin-top: calc(var(--index) * 1);
    flex-direction: column;
    padding-left: calc(var(--index) * 4);
    padding-right: calc(var(--index) * 4);
}

.authorization>form>.inputs>.password>label {
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
}

.authorization>form>.inputs>.password>input {
    height: calc(var(--index) * 2);
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
    padding-left: calc(var(--index) * .4);
    padding-right: calc(var(--index) * .4);
    border: calc(var(--index) * .1) solid #272727;
    border-radius: calc(var(--index) * .4);
}

.authorization>form>.inputs>.password>input:focus {
    outline: none;
    border: calc(var(--index) * .15) solid #000000;
    border-radius: calc(var(--index) * .4);
}

.authorization>form>button {
    background-color: #282b34;
    color: white;
    bottom: 7.4vh;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    display: flex;
    width: calc(var(--index) * 12);
    height: calc(var(--index) * 3);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--index) * .6);
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1.2);
    border: none;
}

button:hover {
    cursor: pointer;
}

.authorization>form>.registration-unlock {
    color: black;
    position: absolute;
    display: flex;
    bottom: 1.8vh;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 500;
    font-family: exo2_b;
    font-size: calc(var(--index) * 1);
    cursor: pointer;
}
span.error {
    color: #960000;
    font-size: calc(var(--index) * 1);
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.registration-closed {
    animation: 0.2s linear forwards closed;
}

.registration-open {
    display: flex;
    animation: 0.2s linear forwards open;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes closed {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.registration {
    height: calc(var(--index) * 30);
    width: calc(var(--index) * 28);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    border: calc(var(--index) * .2) solid #282b34;
    -webkit-box-shadow: 0px 0px calc(var(--index) * .4) calc(var(--index) * .1) #8d8d8d;
    -moz-box-shadow: 0px 0px calc(var(--index) * .4) calc(var(--index) * .1) #8d8d8d;
    box-shadow: 0px 0px calc(var(--index) * .4) calc(var(--index) * .1) #8d8d8d;
    justify-content: center;
    z-index: 4;
    border-radius: 10%;
    color: #282b34;
}

.registration>.closing-registration {
    position: absolute;
    right: calc(var(--index) * 2);
    top: calc(var(--index) * 1.85);
    height: calc(var(--index) * 1.4);
    width: calc(var(--index) * 1.4);
    z-index: 5;
    justify-content: center;
    align-items: center;
    display: flex;
}

.registration>.closing-registration:hover {
    cursor: pointer;
}

.registration>.closing-registration>img {
    height: calc(var(--index) * 1.4);
    width: calc(var(--index) * 1.4);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.registration>form {
    justify-content: center;
    align-items: center;
    position: relative;
}

.registration>form>h3 {
    font-size: calc(var(--index) * 2.4);
    margin-top: calc(var(--index) * 1);
    text-align: center;
    font-weight: 600;
    font-family: rubik_b;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.registration>form>.inputs>.surname {
    justify-content: center;
    display: flex;
    margin-top: calc(var(--index) * 1);
    flex-direction: column;
    padding-left: calc(var(--index) * 4);
    padding-right: calc(var(--index) * 4);
}

.registration>form>.inputs>.surname>label {
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
}

.registration>form>.inputs>.surname>input {
    height: calc(var(--index) * 2);
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
    padding-left: calc(var(--index) * .4);
    padding-right: calc(var(--index) * .4);
    border: calc(var(--index) * .1) solid #272727;
    border-radius: calc(var(--index) * .4);
}

.registration>form>.inputs>.surname>input:focus {
    outline: none;
    border: calc(var(--index) * .15) solid #000000;
    border-radius: calc(var(--index) * .4);
}


.registration>form>.inputs>.name {
    justify-content: center;
    display: flex;
    margin-top: calc(var(--index) * 1);
    flex-direction: column;
    padding-left: calc(var(--index) * 4);
    padding-right: calc(var(--index) * 4);
}

.registration>form>.inputs>.name>label {
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
}

.registration>form>.inputs>.name>input {
    height: calc(var(--index) * 2);
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
    padding-left: calc(var(--index) * .4);
    padding-right: calc(var(--index) * .4);
    border: calc(var(--index) * .1) solid #272727;
    border-radius: calc(var(--index) * .4);
}

.registration>form>.inputs>.name>input:focus {
    outline: none;
    border: calc(var(--index) * .15) solid #000000;
    border-radius: calc(var(--index) * .4);
}

.registration>form>.inputs>.telephone {
    justify-content: center;
    display: flex;
    margin-top: calc(var(--index) * 1);
    flex-direction: column;
    padding-left: calc(var(--index) * 4);
    padding-right: calc(var(--index) * 4);
}

.registration>form>.inputs>.telephone>label {
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
}

.registration>form>.inputs>.telephone>input {
    height: calc(var(--index) * 2);
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
    padding-left: calc(var(--index) * .4);
    padding-right: calc(var(--index) * .4);
    border: calc(var(--index) * .1) solid #272727;
    border-radius: calc(var(--index) * .4);
}

.registration>form>.inputs>.telephone>input:focus {
    outline: none;
    border: calc(var(--index) * .15) solid #000000;
    border-radius: calc(var(--index) * .4);
}


.registration>form>.inputs>.password {
    justify-content: center;
    display: flex;
    margin-top: calc(var(--index) * 1);
    flex-direction: column;
    padding-left: calc(var(--index) * 4);
    padding-right: calc(var(--index) * 4);
}

.registration>form>.inputs>.password>label {
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
}

.registration>form>.inputs>.password>input {
    height: calc(var(--index) * 2);
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1);
    padding-left: calc(var(--index) * .4);
    padding-right: calc(var(--index) * .4);
    border: calc(var(--index) * .1) solid #272727;
    border-radius: calc(var(--index) * .4);
}

.registration>form>.inputs>.password>input:focus {
    outline: none;
    border: calc(var(--index) * .15) solid #000000;
    border-radius: calc(var(--index) * .4);
}
.registration>form>.agreement {
    position: absolute;
    width: calc(var(--index) * 1.4);
    height: calc(var(--index) * 1.4);
    background-color: white;
    border: calc(var(--index) * .1) solid #282b34;
    border-radius: calc(var(--index) * .1);
    margin-top: calc(var(--index) * 1.3);
    margin-left: calc(var(--index) * 4);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.registration>form>p {
    margin-top: calc(var(--index) * 1);
    font-size: calc(var(--index) * .9);
    margin-left: calc(var(--index) * 6);
    margin-right: calc(var(--index) * 1);
}

.registration>form>button {
    background-color: #282b34;
    color: white;
    bottom: 4vh;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    display: flex;
    width: calc(var(--index) * 12);
    height: calc(var(--index) * 3);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--index) * .6);
    font-family: rubik_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1.2);
    border: none;
}

button:hover {
    cursor: pointer;
}


#main {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: calc(var(--index) * (88 - var(--main-height)));
}

section {
    width: 100%;
    position: relative;
    display: flex;
    height: calc(var(--index) * 30);
    top: calc(var(--index) * 3);
    border-bottom: calc(var(--index) * .2) solid black;
}

section>.product-image {
    background-color: #ffffff;
    border: calc(var(--index) * .2) solid black;
    margin-top: calc(var(--index) * 3);
    margin-left: calc(var(--index) * 4);
    width: calc(var(--index) * 23.5);
    height: calc(var(--index) * 25);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: calc(var(--index) * 1);
}

section>.product-image>img {
    position: relative;
    width: calc(var(--index) * 23.5);
    height: calc(var(--index) * 25);
    padding: calc(var(--index) * 1);
}

section>.information-container>form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: calc(var(--index) * 2);
    width: calc(var(--index) * 28)
}


.information-container__input-name {
    font-family: exo2_b;
    font-weight: 500;
    font-size: calc(var(--index) * 1.2);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: calc(var(--index) * 15);
    height: calc(var(--index) * 2);
    border-radius: calc(var(--index) * 0.4);
    border: calc(var(--index) * 0.1) solid #282b34;

    background-color: white;
    color: #282b34;
  }


.information-container__label {
    font-family: exo2_b;
    font-weight: 700;
    color: #282b34;
    margin-bottom: calc(var(--index) * 0.3);
  }
.information-container__label-name{
    font-size: calc(var(--index) * 1.5);
    font-family: exo2_b;
}
.information-container__label-price, .information-container__label-color, 
.information-container__size-title{
    font-size: calc(var(--index) * 1.2);
 
}
section>.information-container>form>.product{
    margin-top: calc(var(--index) * 1);
    font-family: exo2_b;
    font-size: calc(var(--index) * 0.9);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.information-container__select-color {
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 2);
    border: calc(var(--index) * 0.1) solid #282b34;
    border-radius: calc(var(--index) * 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-family: exo2_b;
    font-size: calc(var(--index) * 0.9);
    color: #282b34;
    font-weight: 700;
    position: relative;
    appearance: none;
  }
  
  .information-container__select-color>option {
    font-family: exo2_b;
  }
  

  .information-container__select-size {
    width: calc(var(--index) * (25 / 12));
    height: calc(var(--index) * (23.5 / 12));
    border: calc(var(--index) * 0.1) solid #282b34;
    margin-left: calc(var(--index) * 0.6);
    margin-right: calc(var(--index) * 0.6);
    border-radius: calc(var(--index) * 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: exo2_b;
    font-size: calc(var(--index) * 0.78);
    font-weight: 700;
    background-color: white;
    color: #282b34;
    appearance: none;
  }
  .information-container__select-size>option{
    font-family: exo2_b;
  }



section>.information-container>.product-colors>.colors>.color>select>option {
    font-family: exo2_b;
}

section>.information-container>.product-proportions {
    margin-top: calc(var(--index) * 1);
    margin-bottom: calc(var(--index) * 2);
}

.information-container__size-title {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: flex;
    color: #282b34;
  }

section>.information-container>form>.product-proportions>.proportions {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: calc(var(--index) * .8);

}



.button-upp {
    
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 3);
    background: #222222;
    border-radius: calc(var(--index) * 0.6);
    color: white;
    font-family: exo2_b;
    margin-top: calc(var(--index) * 1);
    cursor: pointer;
    font-size: calc(var(--index) * 1);
}



#footer {
    width: 100vw;
    position: relative;
    height: calc(var(--index) * 10);
    background-color: #1d2226;
    color: white;
    font-family: exo2_b;
    justify-content: space-around;
    display: flex;
    bottom: 0;
    -webkit-box-shadow: 0px calc(var(--index) * 0) calc(var(--index) * .4) calc(var(--index) * .3) #1d2226;
    -moz-box-shadow: 0px calc(var(--index) * 0) calc(var(--index) * .4) calc(var(--index) * .3) #1d2226;
    box-shadow: 0px calc(var(--index) * 0) calc(var(--index) * .4) calc(var(--index) * .3) #1d2226;
}

.about-company,
.help,
.find {
    margin-top: calc(var(--index) * 2);
    font-size: calc(var(--index) * 1.2);
}
#footer{
    margin-top: calc(var(--index) * 6);
}
#footer>div>a {
    color: white;
}

.help {
    position: absolute;
}
