@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

/* МЕНЮ */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: -39vw;
  float: top;
  padding-top: 5vh;
  width: 39vw;
  height: 189vh;
  border-right: 10px solid rgb(0, 0, 0);
  background: rgb(238, 238, 238);
  opacity: 95%;
  -webkit-transition: 1s ease 0.1s;
  transition: 1s ease 0.1s;
  z-index: 100;
}
.menu:hover {
  left: 0vw;
  border-right: 0px solid rgb(0, 0, 0);
}
.menu:hover .openMe {
  display: none;
  left: 555px;
}

.title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.title h1 {
  font-family: "Comfortaa";
  color: #171717;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.title h1:hover {
  font-size: 28px;
}
.title h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.title h1:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.list_menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.list_menu a {
  font-family: "Comfortaa";
  font-size: 22px;
  color: #171717;
}
.list_menu li {
  margin: 20px 0px;
}

.ul-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.openMe {
  width: 120px;
  height: 32px;
  position: relative;
  left: 560px;
  border: 3.5px solid rgb(0, 0, 0);
  border-radius: 5px;
  opacity: 1;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: opacity 1s, visibility 0s;
  transition: opacity 1s, visibility 0s;
}
.openMe p {
  font-family: "Comfortaa";
  font-size: 22px;
  color: #171717;
  font-weight: bold;
  text-align: center;
  margin-top: 4px;
}
.openMe:hover .menu {
  left: 0vw;
  border-right: 0px solid rgb(0, 0, 0);
}

/* ШАПКА*/
.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0px solid red;
  border-bottom: 2px solid rgb(54, 54, 54);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  margin-bottom: 5vh;
}

.head-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: px solid red;
  z-index: 98;
}
.search input {
  margin-left: 0.3vw;
  display: block;
  width: 14vw;
  border: 0;
  border-bottom: 1.5px solid rgb(111, 111, 111);
  font-size: 20px;
}
.search input::-webkit-input-placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.search input::-moz-placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.search input:-ms-input-placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.search input::-ms-input-placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.search input::placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.search input::-ms-clear {
  display: none;
}
.search input:focus {
  outline: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}
button img {
  width: 22px;
  height: 22px;
  opacity: 50%;
}

.head-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: px solid red;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 300px;
}
.head-right img {
  width: 30px;
  height: 30px;
  margin-left: 1vw;
}

.head-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: px solid red;
}
.head-center a {
  font-family: "Comfortaa";
  font-size: 50px;
  color: #171717;
}

/* ОСНОВНОЙ БЛОК */
.Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 190hv;
  margin-bottom: 13vh;
}

.content-paul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.content-paul a:hover {
  font-size: 35px;
}

.Paul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4vh;
}
.Paul img {
  height: auto;
  width: 25vw;
}

.LINK {
  font-family: "Comfortaa";
  font-size: 28px;
  color: #171717;
  margin-bottom: 2vh;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.LINK:hover {
  font-size: 35px;
}

/* Sale */
.Sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.Sale div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Sale a {
  font-family: "Comfortaa";
}

/* Блок со слайдером */
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1130px;
  height: 30vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-bottom: 70px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider-card {
  margin-bottom: 2hv;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card p {
  font-size: 20px;
}
.card img {
  width: 15wh;
  height: 35vh;
  border: 1px solid black;
}

/* Подвал */
footer {
  width: 100%;
  height: 450px;
  background: #c4c4c4;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerColumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}
.footerColumns p {
  color: #171717;
  font-family: "Comfortaa";
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 18px;
}
.footerColumns a {
  color: #171717;
  font-family: "Comfortaa";
  font-size: 20px;
  margin: 8px;
}
.footerColumns img {
  display: inline-block;
  width: 30px;
  height: 30px;
}